<section ng-controller="ArticlesController" ng-init="find()">
  <div class="page-header">
    <h1>Assignments</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-bind="article.user.displayName"></span>
      </small>
	  <br>
	  <br>
      Assignment Title:
	  <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
	  
	  Assignment Details:
	  <h4 class="list-group-item-heading" ng-bind="article.description"></h4>
	  Due Date:;
	  <h4 class="list-group-item-heading" ng-bind="article.duedate | date:'mediumDate'"></h4>

     
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No assignments yet, why don't you <a ui-sref="articles.create">create assignment</a>?
  </div>
</section>
